@font-face {
  font-family: "SFMoMA";
  src: url('fonts/SFMOMADisplay-Light.ttf') format("truetype"),
       url('fonts/SFMOMADisplay-Light.otf') format("otf");
}

@font-face {
  font-family: "EB Garamond";
  src: url("https://fonts.gstatic.com/s/ebgaramond/v14/SlGUmQSNjdsmc35JDF1K5_8I2M1hdU4.woff") format('woff');
  font-weight: 400;
}

@font-face {
  font-family: "EB Garamond";
  src: url("https://fonts.gstatic.com/s/ebgaramond/v14/SlGUmQSNjdsmc35JDF1K5_8I2M1hdU4.woff") format('woff');
  font-weight: 600;
}

html {
  min-height: 100%;
}

body {
  font-family: 'EB Garamond', -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;

  background: white;
  color: #222;

  max-width: 660px;
  min-height: 100%;
}

h1, h2, h3 {
  font-weight: 300;
}

h2 {
  margin-bottom: -10px;
  font-size: 30px;
}

p {
  font-family: "EB Garamond";
  font-size: 18px;
  line-height: 145%;
}

a, .button, .social > a > img {
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  -ms-transition: all .1s linear;
  transition: all .1s linear;
}

.profile-pic > img {
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
  -ms-transition: all .5s linear;
  transition: all .5s linear;
}

a {
  color: #0f73aa;
  border-bottom: 1px dotted #0f73aa;
  text-decoration: none;
}

a:hover {
  color: #c0392b;
  border-bottom: 1px solid #c0392b;
}

.button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding:0px 1.35em;
  background-color:rgba(0,0,0,0.05);
  border: 0;
  border-radius:5px;
  display:inline-block;
  text-transform:uppercase;
  text-decoration:none;
  color:#000;
  font-family:'SFMoMA';
  font-weight:500;
  letter-spacing:1px;
  font-size:11px;
}

.button:hover {
  background-color:rgba(0,0,0,0.08);
  border: 0;
  color: #000;
}

.profile {
  display:flex;
  flex-direction:row;
  margin-bottom: 20px;
}

.profile-pic > img {
  width:120px;
  height:120px;
  border-radius:100%;
  margin-right:10px;
  /* -webkit-filter: grayscale(100%); */
  /* filter: grayscale(100%); */
}

/* .profile-pic > img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
} */

.profile-text {
  margin: 10px;
}

.profile-text > h1 {
  line-height: 0;
  font-family: "EB Garamond";
  font-weight: 400;
  color: black;
  font-size: 36px;
  text-transform: none;
}

.profile-text > h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12pt;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.social > a {
  border: 0;
}

.social > a + a {
  margin-left: 8px;
}

.social > a > img {
  height: 24px;
  border: 0;
  filter: opacity(100%);
  -webkit-filter: opacity(100%)
}

.social > a > img:hover {
  filter: opacity(50%);
  -webkit-filter: opacity(50%);
}

.pub {
  font-family: -apple-system, BlinkMacSystemFont, 'EB Garamond';
  font-weight: 600;
}

.project-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-img > img {
  height: 100px;
  padding-left: 20px;
}

@media screen and (max-width: 540px) {
  .profile {
    flex-direction: column;
    margin-bottom: 0;
  }

  .profile-pic, .profile-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-img > img {
    height: 200px;
    padding-left: 20px;
  }
}

/* @media (prefers-color-scheme: dark) { */
  /* The following was 99% written by GitHub Copilot. */
  /* body {
    background: #222;
    color: #fff;
  }

  a {
    color: #3498db;
  }

  .profile-text > h1 {
    color: #fff;
  }

  .button {
    background-color: rgba(255,255,255,0.05);
    color: #fff;
  }

  .button:hover {
    background-color: rgba(255,255,255,0.08);
    color: #fff;
  }

  .social > a > img {
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }

  .social > a > img:hover {
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
    filter: invert(50%);
    -webkit-filter: invert(50%);
  }
} */
